#logo {
  width: 10rem;
}

body > header {
  text-align: center;
}

body > header > h1 {
  margin: 0;
  padding: 0;
}

body > header,
body > main,
body > footer {
  max-width: 30rem;
}

body > footer {
  font-size: 80%;
  padding-top: 0.5rem;
  text-align: right;
}

pre {
  font-size: 70%;
}

ins {
  color: darkgreen;
  text-decoration: underline;
}

del {
  color: darkred;
  text-decoration: line-through;
}

ins.move, del.move {
  color: darkorange;
}
