<!doctype html>
<html lang="EN">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <!-- Styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://simple.kemitchell.com/normalize.css">
    <link rel="stylesheet" href="https://simple.kemitchell.com/styles.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{site.image}}">
    <!-- OpenGraph -->
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{page.title}}">
    <meta name="og:description" content="{{page.description}}">
    <meta name="og:image" content="{{site.image}}">
    <meta name="og:site" content="{{site.title}}">
  </head>
  <body>
    <header>
      <a href="/"><img id="logo" alt="logo" src="/logo.svg"></a>
      <h1>{{site.title}}</h1>
      <p class="description">{{site.description}}</p>
    </header>
